@model IEnumerable<HyperDuckLibrary.Models.BorrowList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table table-striped">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books)
            </th>
            <th>
                Borrower
            <th>
                Borrow Date
            </th>
            <th>
                Return Date
            </th>



            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Books.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.FirstMidName)
                    @Html.DisplayFor(modelItem => item.Customers.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Books.ReturnedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Books.BorrowedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BorrowId">Edit</a> 

                </td>
            </tr>
        }
    </tbody>
</table>
